<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello,<br> <b>{{name}}</b><br> your E-mail has been verified</p>
    <p>Below is the <b>OTP</b> for Login valid for next 5 min</p>
    <b>{{otp}}</b>
    <p>This is a system generated mail don't reply</p>
    <p>Mail by Yash</p>
</body>
</html>